<h1>List of all Reports</h1>

<%= form_with json: @array do |f| %>
    <%= f.select :id, @array.map { |array| [array['name'], array['id']]} %>
    <%= f.submit %>
<% end %>
<br>
<table border="1">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>webUrl</th>
    </tr>
  </thead>

  <tbody>
    <% @array.each do |array| %>
      <tr style="border-bottom:1px solid black">
        <td><%= array['id'] %></td>
        <td><%= array['name'] %></td>
        <td><%= array['webUrl'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>