<head>
  <style> 
    body{
        background: rgba(238, 238, 238, 0.788) no-repeat center center fixed;
        background-size: cover;
        font-family: "Roboto";
    }
    
    h1 {
        font-size: 2em;
    }

    table {
        overflow-y: auto;
        display: block;
        float: left;
        margin: auto;
    }

    th {
        background-color: #6188a0;
        color: #fff;
    }
    tr:nth-child(odd) {
        background-color: #ecf4f8;
    }
    tr:nth-child(even) {
        background-color: #fff;
    }

    tr:hover {
        background-color: #b3c7dc;
    }
    td,th{
        padding: 0.5em;
    }
    input{
      border: none;
      background: none;
      text-decoration: underline;
    }
    
  </style>
</head>


<h1>List of all Reports</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>webUrl</th>
    </tr>
  </thead>

  <tbody>
    <% @array.each do |array| %>
      <tr style="border-bottom:1px solid black">
  <td><%= form_tag powerbi_embed_report_path do |form| %>
    <a class="field" hidden>
      <%= label_tag :id %>
      <%= text_field_tag :id, array['id'] %>
    </a>
      <%= submit_tag array['id'] %>
  <% end %></td>
        
        <td><%= array['name'] %></td>
        <td><a href=<%= array['webUrl'] %> target="_blank"><%= array['webUrl'] %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>