<script src="https://microsoft.github.io/PowerBI-JavaScript/demo/node_modules/jquery/dist/jquery.js"></script>
<script src="https://microsoft.github.io/PowerBI-JavaScript/demo/node_modules/powerbi-client/dist/powerbi.js"></script>
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">  
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
window.onload = function () {
    var models = window['powerbi-client'].models;
    var embedContainer = $('#embedContainer')[0];
    console.log(embedContainer);

    var config = {
        type: 'report',
        tokenType: models.TokenType.AAD,
        accessToken: '<%= session[:access_token] %>',
        embedUrl: '<%= @url %>',
        id: '<%= @reportID %>',
        permissions: models.Permissions.All,
        settings: {
            panes: {
                filters: {
                    visible: true
                },
                pageNavigation: {
                    visible: true
                }
            }
        }
    };

    var report = powerbi.embed(embedContainer, config);
 
    report.off("loaded");
    
    report.on("loaded", function () {
        console.log("Loaded");
    });
    
    report.off("rendered");
    
    report.on("rendered", function () {
        console.log("Rendered");
    });
    
    report.on("error", function (event) {
        console.log(event.detail);
    
        report.off("error");
    });
    $('#embedContainer').dialog();
    $('#embedContainer').click(function(){
  alert("clicked test");
}
</script>

<h1>List of all Reports</h1>

<div class="field">
<%= form_with local: true, :url => powerbi_list_all_reports_path do |f| %>
    <%= f.select :id, @array.map { |array| [array['name'], array['id']]} %>
    <%= f.submit "Open Report"%>
<% end %>
</div>
<br>

<table border="1">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>webUrl</th>
    </tr>
  </thead>

  <tbody>
    <% @array.each do |array| %>
      <tr style="border-bottom:1px solid black">
  <td><%= form_tag powerbi_list_all_reports_path do |form| %>
    <a class="field" hidden>
      <%= label_tag :id %>
      <%= text_field_tag :id, array['id'] %>
    </a>
      <%= submit_tag array['id'] %>
  <% end %></td>
        
        <td><%= array['name'] %></td>
        <td><a href=<%= array['webUrl'] %> target="_blank"><%= array['webUrl'] %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="embedContainer" ></div>
