  <h1> Add PowerBI user to group </h1>
  <%= form_with local: true,:url=> groups_createNewUser_path do |form| %>
      <div class="field">
        <%= form.label :Group_name  %>
        <%= form.select :groupId, @array.map { |array| [array['name'], array['id']]} %>
      </div>
        
      <div class="field">
          <%= form.label :email %>
          <%= form.text_field :email%>
      </div>


      <div class="field">
          <%= form.label :accessrights %>
          <%= select_tag(:accessrights,options_for_select([['None', 'None'],['Admin', 'Admin'], ['Viewer', 'Viewer'],['Contributor', 'Contributor'],['Member', 'Member']])) %>
      </div>

      <div class="actions">
          <%= form.submit "create PowerBi user" %>
      </div>
  <% end %>

