<style>

body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
table{
   overflow-y:auto;
   width: 378px;
   height:400px;
   display:block;
}
th {
  background-color: #015a9e;
  color: #fff;
}
tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #b3c7dc;}
</style>
<h1>Groups</h1>

<table border="1" style="float: left;  margin-right: 200px">
  <thead>
    <tr>
      <th>Group_id</th>
      <th>Group name</th>
    </tr>
  </thead>

  <tbody>
   <% @array.each do |array| %>
      <tr style="border-bottom:1px solid black">
          <td><%= form_tag groups_getAllGroups_path do |form| %>
            <a class="field" hidden>
              <%= label_tag :id %>
              <%= text_field_tag :id, array['id'] %>
            </a>
              <%= submit_tag array['id'] %>
          <% end %></td>
          <td><%= array['name'] %></td>
    <% end %>
    
  </tbody>
</table>

<table border="1" >
  <thead>
    <tr>
      <th>User name </th>
      <th>group user access rights</th>
    </tr>
  </thead>

  <tbody>
     <% @userArray.each do |userArray| %>
     <tr>
        <td><%= userArray['displayName'] %></td>
        <td><%= userArray['groupUserAccessRight'] %></td>
      </tr>
    <% end %>
  </tbody>

  <% if(@reportArray!=nil)%>
    <thead>
      <tr>
        <th>report name </th>
        <th>report id</th>
      </tr>
    </thead>

    <tbody>
      <% @reportArray.each do |reportArray| %>
      <tr>
        <td><%=reportArray['name'] %></td>
        <td><%= reportArray['id'] %></td>
      </tr>
      <% end %>
    </tbody>
  <% end %>

</table>
<br>

<table border="1">
  <thead>  
    <tr>
        <th>Company name</th>
        <th>User name</th>
        <th>Group Id</th>
    </tr>
  </thead>

  <tbody>
    <% @powerbi_users.values.each do |powerbi_users| %>
    <tr>
      <td><%=powerbi_users[0]%></td>
      <td><%=powerbi_users[1]%></td>
      <td> <div class="field">
                <%= form_with local: true, :url => groups_getAllGroups_path do |f| %>
                    <%= f.select :id, @array.map { |array| [array['name'], array['id']]} %>
                    <%= f.submit "Apply"%>
                <% end %>
            </div> </td>
      </tr>
    <% end %>
    </tbody>
</table>
<br>
